Repository UPB-FILS-ALF/upb-fils-alf.github.io, pull requests merged in 2024-03, with the labels that each got.

#24 Added Dev1 text
  docs/devoir/01.md
Labels: devoir

#26 Fix devoir 1 typo
  docs/devoir/01.md
Labels: devoir

#27 Devoir1: Fix typo
  docs/devoir/01.md
Labels: devoir

#28 Cours 2
  docs/cours/02.md
  static/cours/alf_2.pdf
Labels: website, cours

#29 Fix greseala exemplu devoir 1
  docs/devoir/01.md
Labels: devoir

#30 Modified paths to exercice files
  docs/tp/02/index.md
Labels: tp

#32 Cours4
  docs/cours/03.md
  static/cours/alf_3.pdf
Labels: website, cours

#25 Tp04
  docs/tp/04/images/04_ambiguous_grammar.png
  docs/tp/04/images/04_derivation_example.png
  docs/tp/04/index.md
  docusaurus.config.ts
Labels: website, tp

#33 Fix typo for cours 4
  docs/cours/03.md
Labels: cours

#34 Update index.md
  docs/tp/04/index.md
Labels: tp

#36 Cours 5
  docs/cours/05.md
  static/cours/alf_5.pdf
Labels: website, cours
