Repository UPB-FILS-ALF/upb-fils-alf.github.io, pull requests merged in 2024-05, with the labels that each got.

#54 Cours 8
  docs/cours/08.md
  static/cours/alf_8.pdf
Labels: website, cours

#55 Cours 9
  docs/cours/09.md
  static/cours/alf_9.pdf
Labels: website, cours

#53 TP8
  docs/tp/08/index.md
Labels: tp

#56 TP9
  docs/tp/09/images/09_wat2wasm.png
  docs/tp/09/index.md
  docusaurus.config.ts
Labels: website, tp

#57 Cours 10
  docs/cours/10.md
  static/cours/alf_10.pdf
Labels: website, cours
